<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
</head>
<body>
	<!-- шапка -->
	<header class="header">
		<!-- блок навигации -->
		<div class="header__menu">
			<div><a href="{{ url_for('index_page') }}">Home</a></div>
			<div><a href="{{ url_for('product_page') }}">Product</a></div>
			<div><a href="{{ url_for('contact_page') }}">Contact</a></div>
		</div>
	</header>

	<!-- директивы шаблонизатора jinja2 -->
	{% block body %}
	{% endblock %}

	<!-- подвал -->
	<footer class="footer">
		footer
	</footer>
</body>
</html>